extends component/layout
block head_bar
    link(rel='stylesheet', href='/stylesheets/signin.css')
block content
    .col-xs-6.col-md-4.col-xs-offset-3.col-md-offset-4(style='padding-top: 20px;')
        .box.box-info
            .box-header.with-border
                h3.box-title= title
            // /.box-header
            // form start
            form.form-horizontal(method='POST')
                .box-body
                    .form-group
                        label.col-sm-2.control-label Id
                        if has_error
                            .col-sm-10.has-error
                                input.form-control(name='device_id', type='text', required=true, placeholder='PPG001')
                            script.
                                alert('Device Id telah terpakai');
                        else
                            .col-sm-10
                                input.form-control(name='device_id', type='text', required=true, placeholder='PPG001')
                    .form-group
                        label.col-sm-2.control-label Type
                        .col-sm-10
                            input.form-control(name='device_type', type='number', min='0', max='2' required=true, placeholder='1')
                    .form-group
                        label.col-sm-2.control-label Freq
                        .col-sm-10
                            input.form-control(name='freq', type='number', min='150', max='360' required=true, placeholder='200')
                // /.box-body
                .box-footer
                    .col-xs-6.col-md-6.col-xs-offset-3.col-md-offset-3
                        button.btn.btn-sm.btn-primary.btn-block(type='submit') Add
